*{
    padding: 0;
    margin: 0;
    margin-left:2px ;
    letter-spacing: 3px;
    scroll-behavior: smooth;
   
}
.yeseva-one-regular {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
  }
.c1nav{
    display: flex;
    flex-wrap: wrap;
    font-size: xx-large;
    font-weight: 800;
    letter-spacing: 4px;
}  

.c1nav span{
    margin-left: 0;
    padding-left: -3px;
    color: red;
}
  
.pnav{
    letter-spacing: 6px;
    padding: 8px;
    height: 50px;
    display: flex;
    
    color: white ;
    justify-content: space-around;
    
}
.c2nav{
    padding: 3px;
    margin: 3px;
    font-size: large;
    

}
.pbar{display: none;}
    
    
   
.c2nav a{
    padding: 5px;
    margin: 5px;
    letter-spacing: 3px;
    text-decoration: none;
    color: white;
}
.c2nav a:hover{
    color: red;
}
.header{
    margin-top: 40px;
    color: white;
    display: flex ;
    justify-content: space-around;

}
.imgprofile{
    width: 323px; 
    height: 323px;
    overflow: hidden;
    border-radius: 50%;
    cursor: not-allowed;
    box-shadow: 
      0 4px 6px rgba(0, 0, 0, 0.1), /* Subtle dark shadow for depth */
      0 6px 20px rgba(255, 0, 0, 5), /* Outer red glow */
      0 2px 4px rgba(255, 0, 0, 8); /* Inner red shadow */
    /* box-shadow:rgba(222, 8, 8, 0.754) 0px -23px 25px 0px inset, rgba(179, 17, 17, 0.703) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(227, 20, 20, 0.646) 0px 16px 8px, rgba(228, 6, 6, 0.897) 0px 32px 16px;; */
    transition: 1s;
    animation-name:img-over ;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}
.imgprofile img{
    width: 100%;
    height: auto;
   
    
}
.imgprofile:hover{
    transform: scale(1.1);
    box-shadow: 0 0 25px red,
    0 0 50px red

}

.cheader{
    width: 400px;
    
}

.cheader ul{
    padding: 8px;
}
.cheader i {
        border-width: 10px;
        border: 2px solid rgb(248, 9, 9);
        border-radius:50px ;
        color: red;
        padding: 6px;
        padding-left: 8px;
    text-size-adjust: 5px;
}
.cheader i:hover{
    background-color: red;
    color: black;
    cursor: pointer;
    transform: scale(1.2)translateY(5px);
    box-shadow: 0 0 25px red;
}
li{list-style: none;}
.cheader button{
    padding: 4px;
    width: 200px;
    background-color: red;
    color: white;
    text-size-adjust: 20px;
    border: none;
    font-weight: 900;
}
.cheader button:hover{
    color: red;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 0 25px red;
    
}
.skill{
    margin-top: 40px;
   
    margin-left: 20px;
    justify-content: center;

}
.para{
    color: white;
    padding-bottom: 20px;
    font-size: large;
    margin-top: -10px;

}
.stitle{
    font-size: xx-large;
}
.sname{
 
    margin: 30px;
    
    margin-left: 44%;
    padding: 30px;
    margin-bottom: -20px
}

.skill h2{
    color: white;
    
   
    
}
.sname span{
    
    margin-left: -12px;
    color: rgb(255, 4, 0);
    
}

.bar{
    display: flex;
    border: 2px;
    border-color: black;
    border-style: solid;
    width: 30%;
    height: 13px;
    margin-bottom: 20px;
}
.skillss{
    color: white;
    font-size: x-large;
    padding: 5px;
    display: flex;
    width:65px ; 
    flex-wrap: wrap;   
}

.first {
    border: 0;
    margin: 0;
    padding: 0;
    animation-name:first-float;
    animation-duration: 2s;
    animation-timing-function: ease-out ;
    background-color: rgb(38, 255, 0);
flex-basis: 70%;}
.second{
    border: 0;
    margin: 0;
    padding: 0;
    animation-name:second-float ;
    animation-duration: 2s;
    animation-timing-function: ease-out ;
    background-color: rgb(178, 178, 204);
    flex-basis: 20%; 
}    
.firsts {
    border: 0;
    margin: 0;
    padding: 0;
    animation-name:first-float;
    animation-duration: 2s;
    animation-timing-function: ease-out ;
    animation-delay: -1;
    background-color: rgb(255, 255, 0);
    flex-basis: 80%;}
.seconds{
    border: 0;
    margin: 0;
    padding: 0;
    animation-name:second-float ;
    animation-duration: 2s;
    animation-timing-function: ease-out ;
    background-color: rgb(178, 178, 204);
    flex-basis: 10%; 
}  
.bar:hover{
    transform: scale(1.2) translateX(20px);

}

@keyframes first-float{

    from{background-color: rgb(225, 255, 0);}
    to{background-color: red;
    flex-basis: 100%;}
}
@keyframes second-float{
    from{flex-basis:0;}
    to{flex-basis: 0;}}

.pabout{
    display: flex;
    padding-left: 30px;
    padding-top: 50px;
    overflow: hidden;
    padding-bottom: 30px;
}  

.imgabout img{
    width: 300px;
    height: 300px;
    margin-right: 30px;
   animation-name:img-over ;
   animation-duration: 2s;
   animation-timing-function: ease-in;
    /* box-shadow:  2px 2px 20px   red; */
    
} 
.imgabout img:hover{
    transition: 2s;
    transform:translateX(1600px) rotateZ(360deg);
     
}

@keyframes img-over{
    from{
        transform:translateX(-600px) 
        rotateZ(-360deg) ;}
    to{ box-shadow: 10px 10px 40px red ;transform: translateX(5px) ;}    
     
    }
.tile{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    font-size: xx-large;
}
.tile h1{
    
    color: white;
    flex-basis: 50%;
    margin-left: 10px;
    
}
.tile span{
   
    color: red;
}
.sentence{
    color: white;
    display: block;
    width: 100%;
}
.sentence span{
    color: red;
}
.sentence h4 ,p{
    font-size: large;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.pproject{
    color: white;
    margin-left: 20px;
    padding: 10px;
    /* position: absolute; */
}
.ptitle{
margin-bottom: 20px;
font-size: xx-large
}
.ptitle span{
color: red;
margin-left: -5px;
}
.working{
    width: 330px;
    height: 280px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 20px;

    
}
.projectimg{
    width: 328px;
    height: 280px;
    cursor: pointer;
}


.pophead{
    width: 330px;
    height: 280px;
    background-color: black;
    position: relative;
    opacity: 0;
    bottom:100% ;
    text-align: center;
    display: inline-block;
    justify-content: center;
    align-items: center;
    transition: 1s;
    cursor: pointer;
}
.pophead:hover{
   
    display: inline-block;
    opacity: 80%;
}
.poptitle{
    margin-top: 30%;

}
#linkaxis:hover{
    transform:scale(1.2);
}

::-webkit-scrollbar{
    width: 16px;
}
::-webkit-scrollbar-thumb{
    background-color: red;
    box-shadow:0 0 25px red ;
} 
.pbarnav{
    background-color: rgb(255, 0, 0);
    position: fixed;
    width: 250px;
    height: 1200px;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    z-index: 1;
    left: -260px;
    transition: 1.5s;

}
.pbarnav a{
   display: block;
   text-decoration: none;
   color: white;
   padding: 20px;
   font-size: 20px;
   text-align: center;

}
#bar{
    position: relative;
    z-index: 2;
}
#bar{
    display: flex;
    margin-left:300px;
}
#x{margin-left: 210px;
padding: 8px;}

@media Screen and (max-width:576px){
        
        .pbar{display: flex;}
        .c2nav{display: none;}
        .imgprofile{ margin-left: 110px;}
        .header{display: block;}
        #bar{padding-top: 12px;
        font-size: larger;}
        #x{padding-top: 15px;
        font-size: larger;}
        .sname{margin-left: 110px;}
        .bar{width: 350px;}
        .pproject{padding-left: 70px;}
        .ptitle{margin-left: 30px;}
        .pabout{display: block;}
        
        
    }